@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply m-0 p-0;
  }
}

@layer components {
  header {
    @apply m-0 p-0 border-0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

